/* xSmall devices (landscape phones, 360px and up) */
@media (min-width: 360px) {
  /* Rules */
  .Contact {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Rules */
  .Contact {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Rules */
  .Contact {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Rules */
  .Contact {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Rules */
  .Contact {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
