@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mes règles : */

.primaryBtn:hover {
  cursor: pointer;
  border-radius: 60px;
  text-transform: uppercase;
  font-weight: 500;
  background: black;
  color: white;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 350ms linear;
}

.primaryBtn {
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  background: #635bff;
  color: white;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#github {
  color: #333333;
  transition: 200ms linear;
}

#github:hover {
  color: #333333;
  transform: scale(1.2, 1.2);
}

#facebook {
  color: #3b5999;
  transition: 200ms linear;
}
#facebook:hover {
  color: #3b5999;
  transform: scale(1.2, 1.2);
}

#twitter {
  color: #46c1f6;
  transition: 200ms linear;
}

#twitter:hover {
  color: #46c1f6;
  transform: scale(1.2, 1.2);
}

#linkedin {
  color: #1666c2;
  transition: 200ms linear;
}

#linkedin:hover {
  color: #1666c2;
  transform: scale(1.2, 1.2);
}
